<form class="form-horizontal form-xl" name="registerForm" id="character-sheet-form" ng-submit="formSubmit()" style="width: 600px;">
    <div class="form-group">
        <label for="character-uid-field" class="col-sm-4 control-label">UID(?)</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.uid" name="characterName" id="character-uid-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="character-name-field" class="col-sm-4 control-label">Character Name</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_name" name="characterName" id="character-name-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="hp-field" class="col-sm-4 control-label">Health Points</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_hp" name="characterHP" id="hp-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="en-field" class="col-sm-4 control-label">Energy Points</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_en" name="characterEn" id="en-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="character-race-field" class="col-sm-4 control-label">Race</label>
        <div class="col-sm-3">
            <select ng-model="formData.character_race"  ng-options="code as class for (code, class) in classesList"
            id="character-race-field"
            class="form-control text-center">

            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="character-level-field" class="col-sm-4 control-label">Level</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_level" name="characterLevel" id="character-level-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="character-skills-field" class="col-sm-4 control-label">Skills</label>
        <div class="col-sm-3">
            <textarea ng-model="formData.character_skills" name="characterSkills" id="character-skills-field" class="form-control" style="height: 80px; overflow-y: auto; text-align: left;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="character-abilitites-field" class="col-sm-4 control-label">Abilities</label>
        <div class="col-sm-3">
            <select ng-options="ability as ability for ability in abilities"
                    ng-model="selectedAbility"
                    multiple="false"
                    style="width:100%;">
            </select>
            <input ng-model="newAbility" class="form-control">
            <input type="button" value="Add Ability" ng-click="pushRow(abilities, newAbility)" class="form-control" style="background-color:green; color: white;">
            <input type="button" value="Remove Ability" ng-click="removeRow(abilities, selectedAbility)" class="form-control" style="background-color:gray; color: white;">
        </div>
    </div>
    <div class="form-group">
        <label for="str-field" class="col-sm-4 control-label">Strength</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_str" name="characterStr" id="str-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="agi-field" class="col-sm-4 control-label">Agility</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_agi" name="characterAgi" id="agi-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="int-field" class="col-sm-4 control-label">Inteligence</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_int" name="characterInt" id="int-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="spd-field" class="col-sm-4 control-label">Speed</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_spd" name="characterSpd" id="spd-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="wp-field" class="col-sm-4 control-label">Willpower</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_wp" name="characterWP" id="wp-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="stat-points-field" class="col-sm-4 control-label">Stat Points</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_stat_points" name="characterStatPoints" id="stat-points-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="skill-points-field" class="col-sm-4 control-label">Skill Points</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_skill_points" name="characterSkillPoints" id="skill-points-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="experience-field" class="col-sm-4 control-label">Experience</label>
        <div class="col-sm-3">
            <input type="text" ng-model="formData.character_experience" name="characterExperience" id="experience-field" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="money-field" class="col-sm-4 control-label">Money</label>
        <div class="col-sm-3">
            <textarea ng-model="formData.character_money" name="characterMOney" id="character-money-field" class="form-control" style="height: 80px; overflow-y: auto; text-align: left;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inventory-field" class="col-sm-4 control-label">Inventory</label>
        <div class="col-sm-3">
            <textarea ng-model="formData.character_inventory" name="characterInventory" id="character-inventory-field" class="form-control" style="height: 80px; overflow-y: auto; text-align: left;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="info-field" class="col-sm-4 control-label">Information</label>
        <div class="col-sm-3">
            <textarea ng-model="formData.character_info" name="characterInfo" id="character-info-field" class="form-control" style="height: 80px; overflow-y: auto; text-align: left;"></textarea>
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-default">Generate</button>
        </div>
    </div>
</form>


<h3>Response:</h3> <h4>{{response}}</h4>