html,body{
    height: 100%;
    width: 100%;
    background-image: url("../Watermark-effect.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

#character-sheet-form{
    width: 30%;
    margin-top: 45px;
    margin-left: 15px;
    text-align: center;
}

#character-sheet-form label{
    text-align: left;
}

/*
*Not Working!*/
#user-register-form label{
    display: inline;
    text-align: left;
    float: left;
}