<form class="form-horizontal form-xl" name="registerForm" id="character-sheet-form" ng-submit="formSubmit()" style="width: 500px;">
    <div class="form-group">
        <label class="col-sm-4 control-label">Character Name</label>
        <div class="col-sm-6">
            <span class="form-control">{{formData.character_name}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Health Points</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_hp}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Energy Points</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_hp}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Race</label>
        <div class="col-sm-3">
            <span class="form-control">{{classesList[formData.character_race]}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Level</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_level}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Skills</label>
        <div class="col-sm-7">
            <span class="form-control" style="height: 80px; overflow-y: auto; text-align: left;">{{formData.character_skills}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Abilities</label>
        <div class="col-sm-7">
            <!--<span class="form-control" style="height: 80px; overflow-y: auto; text-align: left;">{{formData.character_abilities}}</span>-->
            <select ng-options="ability as ability for ability in abilities"
                    ng-model="selectedAbility"
                    multiple="false"
                    style="width:100%;">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Strength</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_str}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Agility</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_agi}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="int-field" class="col-sm-4 control-label">Intelligence</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_int}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Speed</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_spd}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Willpower</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_wp}}</span>
        </div>
    </div><div class="form-group">
        <label class="col-sm-4 control-label">Stat Points</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_stat_points}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Skill Points</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_skill_points}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Experience</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_experience}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Money</label>
        <div class="col-sm-3">
            <span class="form-control">{{formData.character_money}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Inventory</label>
        <div class="col-sm-7">
            <span class="form-control" style="height: 80px; overflow-y: auto; text-align: left;">{{formData.character_inventory}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Information</label>
        <div class="col-sm-7">
            <span class="form-control" style="height: 150px; overflow-y: auto; text-align: left;">{{formData.character_info}}</span>
        </div>
    </div>
</form>